@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $color-white;
  background: $color-dark-one;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  margin: 10rem 2rem 5rem;
  font-size: 3rem;
  letter-spacing: 1.5px;

  @include respond(phone) {
    text-align: center;
  }
}

.copyright {
  margin: 2rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  color: darken($color-white, 20%);

  @include respond(phone) {
    span {
      display: block;
    }
  }
}
